.title{
background-image: url('http://chiba-rucy.com/chibaooclub/wakabaooclub/wakaba-programming/coderdojo-participate');
background-size: cover;
background-repeat: no-repeat;
}

.title .white-bg {
 background-color: rgba(255, 255, 255, 0.6); 
}

.linke-box{
 background-color: bl;
}
