.title{
background-image: url('https://cdn.glitch.com/c77eaa4c-f8cd-4a35-b302-c7d74055c196%2FDSC_1120.jpeg?v=1563181054841');
background-size: cover;
background-repeat: no-repeat;
}

.title .white-bg {
 background-color: rgba(255, 255, 255, 0.6); 
}

.linke-box{
 background-color: blue;
}
